.table_bg
{
  background: #FDF5E3;
  background-repeat: no-repeat;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
}
.me
{
  width: 70%;
  padding-left: 15.5%;
  padding-top: 8%;
  padding-bottom: 8%;
  float: left;
}
.me:hover
{
  transform: scale(1.1);
  transition-duration: 0.5s;
}
.td
{
  border: 5px dotted #886622; 
  height: 290px; 
  width: 700px; 
  float: right;
  margin-right: 13%;
  margin-top: 8%;
  margin-bottom: 8%;
  letter-spacing: 5px;
  line-height: 3vw;
  text-align: center;
}
.text
{
  font-size: 25px;
  font-family: monospace;
  color: #886622;
}
.text2
{
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
  color: #888800;
  text-shadow: 0.1em 0.1em 0.2em #9D9D9D;
}
.fb
{
  width: 10%;
  position: relative;
  left: -15vw;
  bottom: 4.5vw;
}
.fb:hover
{
  transform: scale(1.2);
  transition-duration: 0.5s;
}
.ig
{
  width: 9.5%;
  position: relative;
  left: -5vw;
  bottom: 10.5vw;
}
.ig:hover
{
  transform: scale(1.2);
  transition-duration: 0.5s;
}
.mail
{
  width: 11%;
  position: relative;
  left: 5.5vw;
  bottom: 16.5vw;
}
.mail:hover
{
  transform: scale(1.2);
  transition-duration: 0.5s;
}
.myself
{
  width: 10%;
  position: relative;
  left: 15.5vw;
  bottom: 23vw;
}
.myself:hover
{
  transform: scale(1.2);
  transition-duration: 0.5s;
}
.skill_bg
{
  background: #FDF5E3;
  background-repeat: no-repeat;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 130vh;
}
.text3
{
  font-family: monospace;
  font-weight: bolder;
  font-size: 30px;
  color: #FAFAD2;
  letter-spacing: 3px;
  text-align: center;
  line-height: 60px;
  background-color: #665533;
  width: 30vw;
  height: 60px;
  border-radius: 50px;
  position: relative;
  top: -32vw;
  left: 4vw;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0, 0.3);
}
.text3:hover
{
  transform: scale(1.2);
  transition-duration: 0.5s;
}
.ski
{
  border: 5px dotted #886622; 
  height: 55vw; 
  width: 130vw; 
  float: right;
  margin-right: 15%;
  margin-top: 8%;
  margin-bottom: 3%;
  padding-bottom: 1vw;
  letter-spacing: 5px;
  line-height: 3vw;
  text-align: center;
}
p.skill
{
  font-size: 30px;
  font-family: monospace; 
  font-weight: bold;
  color: #888800; 
  padding-top: 2vw; 
}
.skillbar 
{
  width: 45vw;
  height: 40px;
  background-color: #FFFFFF;
  border-radius: 50px;
  margin-left: 7vw;
}
.skills 
{
  text-align: right;
  height: 40px;
  border-radius: 50px 0px 0px 50px ;
  font-weight: bold;
  font-family: monospace;
  color: #888800;  
}
@keyframes skill90 
{
  0% {width: 0%}
  100% {width: 90%}
}
@keyframes skill80 
{
  0% {width: 0%}
  100% {width: 80%}
}
@keyframes skill70
{
  0% {width: 0%}
  100% {width: 70%}
}
@keyframes skill50 
{
  0% {width: 0%}
  100% {width: 50%}
}
div.Word
{
  animation-name: skill90;
  animation-duration: 5s;
  width: 90%;
  background-color: #B9B553;
  font-size: 30px;
}
div.lan
{
  animation-name: skill80;
  animation-duration: 5s;
  width: 80%;
  background-color: #B9B553;
  font-size: 30px;
}
div.Html
{
  animation-name: skill70;
  animation-duration: 5s;
  width: 70%;
  background-color: #B9B553;
  font-size: 30px;
}
div.JAVA
{
  animation-name: skill50;
  animation-duration: 5s;
  width: 50%;
  background-color: #B9B553;
  font-size: 30px;
}
*
{
  box-sizing: border-box;
}
.pro_bg
{
  background: #FDF5E3;
  background-repeat: no-repeat;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200vh;
}
.text4
{
  font-family: monospace;
  font-weight: bolder;
  font-size: 30px;
  color: #FAFAD2;
  letter-spacing: 3px;
  text-align: center;
  line-height: 60px;
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: #665533;
  width: 30vw;
  height: 60px;
  border-radius: 50px;
  position: relative;
  top: -52vw;
  left: 10vw;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0, 0.3);
}
.text4:hover
{
  transform: scale(1.2);
  transition-duration: 0.5s;
}
#pro
{
  width: 100%;
  text-align: center;
  position: relative;
  left: -4vw;
}
.kid
{
  width: 400px;
}
.kid_pic
{
  width: 115%;
  margin: 30px;
  position: relative;
  right: -1vw;
  top: 4vw;
}
.kid_pic:hover
{
  transform: scale(1.2);
  transition-duration: 0.5s;
}
.text5
{
  font-size: 23px;
  font-family: monospace;
  color: #886622;
  line-height: 4vw;
  position: relative;
  right: 8vw;
  top: 5vw;
  padding-right: -10vw;
}
.text6
{
  font-size: 28px;
  font-weight: bold;
  font-family: monospace;
  color: #888800;
  text-shadow: 0.1em 0.1em 0.2em #9D9D9D;
  padding-right: -10vw;
}
.cake
{
  width: 400px;
}
.cake_pic
{
  width: 110%;
  margin: 30px;
  position: relative;
  right: 2vw;
  top: 3vw;
}
.cake_pic:hover
{
  transform: scale(1.2);
  transition-duration: 0.5s;
}
.text7
{
  font-size: 23px;
  font-family: monospace;
  color: #886622;
  line-height: 4vw;
  position: relative;
  left: -3vw;
  top: 5vw;
  padding-right: -10vw;
}
.doll
{
  width: 400px;
}
.doll_pic
{
  width: 70%;
  margin: 30px;
  position: relative;
  right: -1vw;
  top: 3vw;
}
.doll_pic:hover
{
  transform: scale(1.2);
  transition-duration: 0.5s;
}
.text8
{
  font-size: 23px;
  font-family: monospace;
  color: #886622;
  line-height: 4vw;
  position: relative;
  right: 12vw;
  top: 4.5vw;
  padding-right: -10vw;
}
.star
{
  width: 400px;
}
.star_pic
{
  width: 115%;
  margin: 30px;
  position: relative;
  right: 4vw;
  top: 3vw;
}
.star_pic:hover
{
  transform: scale(1.1);
  transition-duration: 0.5s;
}
.text9
{
  font-size: 23px;
  font-family: monospace;
  color: #886622;
  line-height: 4vw;
  position: relative;
  left: -4vw;
  top: 5vw;
  padding-right: -10vw;
}